<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- head 에서 url_for() api 를 사용하여 static폴더 내의 'hello.js'스크립트를 읽어옴 -->
    <script src="{{url_for('static',filename="hello.js")}}"></script>
</head>
<body>
{#
<!-- 함수의 결과물로 html의 form에 특정 url 반환을 위해 flask는 jinja2템플릿 엔진을 사용
웹 템플릿은 변수와 표현식의 placeholder가 배치된 html문법을 포함하고
템플릿은 랜더링 될때, 데이터 원본에서 가져온 값으로 교체된다.
템플릿 사용할 스크립트
{%   %} : 선언하기 위해 사용
{{    }} : template output 을 출력하기 위한 표현
{#   #} {#: template output에 포함되지 않는 주석#}
{#   # : 줄단위로 선언하기 위해 사용  -->
html에 주석 달때는, 파이썬 코드가 안들어가게 해야함 #}

hello~~{{name}}

</body>
</html>