<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<form action = "/account/login" method = "post">
    아이디 : <input type="text" name="id"><br>
    비밀번호 : <input type="password" name="pw"><br>
    <input type="submit" value="로그인">
    <!-- 이름으로 파라미터 를 입력해줌. 로그인 버튼을 누르면 action 속성의 url 이 적용됨.
      method 방식이 post기 때문에 get이 아닌 post의 함수에 대해서 실행됨!
      모든것이 get방식이랑 post방식이 둘다 구현되지 않아도됨.
      수정하는 기능은 업데이트를 get방식으로 하면, 조회하는 방식과 비슷함.
      수정은 조회를 하는 것가지고 수정하는 것.
      목록을 보여주는것은 수정을 못하므로, get 방식만 있음. 언제나 쌍으로 있는게 아니라 필요에 있어있음. -->

</form>
</body>
</html>